﻿@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

@section Styles
{
    <style>
        main {
            height: 100%;
        }
    </style>
}

<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-6 col-lg-4 rounded bg-light-gray p-4 m-4">
            <section>
                <form id="account" method="post">
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control"/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control"/>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label asp-for="Input.RememberMe">
                                <input asp-for="Input.RememberMe"/>
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                        </div>
                    </div>
                    <div asp-validation-summary="All" class="validation-summary text-danger"></div>
                    <div class="form-group d-flex justify-content-end m-0">
                        <button type="submit" class="btn btn-secondary">Log in</button>
                    </div>
                </form>
            </section>
        </div>
    </div>
</div>