﻿html,
body {
    height: 100%;
}

.bg-light-gray {
    background-color: gray("200");
}

.validation-summary {
    ul {
        list-style-position: inside;
        padding: 0;

        li {
        }
    }
}