@using Microsoft.AspNetCore.Authorization
@inject IAuthorizationService AuthorizationService

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BackOffice</title>
    @RenderSection("Styles", required: false)
<link href="/dist/main.css" rel="stylesheet"></head>
<body>
    @if (User.Identity.IsAuthenticated)
    {
        <partial name="_Navbar" />
    }

    <main role="main">
        @RenderBody()
    </main>

    @if (User.Identity.IsAuthenticated)
    {
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2018 - GlobetrotterTravelAgency.Backoffice - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
    }

    @RenderSection("Scripts", required: false)
<script type="text/javascript" src="/dist/runtime.js"></script><script type="text/javascript" src="/dist/vendors.js"></script><script type="text/javascript" src="/dist/main.js"></script></body>
</html>
